*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);

    --white-50: #ffffff0f;

    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Overpass", sans-serif;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}

li {
    list-style-type: none;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}
